/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #00FF80 ;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #FFFF00;
    text-align: center;
    padding: 50px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para la lista de temas */
ol {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

li a {
    text-decoration: none;
    color: #333;
}

/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para los títulos y descripciones */
h2 {
    color: #FF00FF;
    font-size: 64px;
}

p {
    color: #666;
    font-size: 16px;
}
h1 {
    color: #FFFF00;
    font-size: 68px;
}
